body
{
	max-width: 1022px;
	margin: 1em auto;
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 13px;
	/* fixed navbar */
	padding-top: 4em;
}

hr
{
	clear: both;
	border: 1px solid gray;
}

form
{
	padding: 2em;
	background: #f7f7f7;
	margin-bottom: 1em;
	box-shadow: inset 1px 1px 1px rgba(0,0,0, 0.1);
}

form h2
{
	margin-top: 0;
}

input#title
{
	font-size: 20px;
	width: 770px;
}

form > a
{
	float: right;
	margin-left: 1em;
}

form, dd
{
	border-radius: 0.5em;
}

form label
{
	font-weight: bold;
	margin: 0 10px;
	display: inline-block;
	width: 10em;
}

label[for=archived_1]
{
	width: auto;
}

form > div:not(:first-child)
{
	margin: 0.5em 0 1.5em 0;
}

form p
{
	margin-left: 11.5em;
	margin-top: 0.5em;
}

input[type=text],
select
{
	width: 450px;
	height: 34px;
	padding: 0 6px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
	/* for osx */
	font-size: 13px;
}

textarea:focus,
input:focus,
select:focus
{
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	outline: 0 none;
}

/* offset to compensate for overlaying menu */
a#output
{
	display: block;
	position: relative;
	top: -110px;
	visibility: hidden;
}

ul#tabs
{
	margin-bottom: -1px;
	padding-left: 0;
	clear: both;
	overflow: hidden;
}

ul#tabs li
{
	float: left;
	list-style: none;
}

ul#tabs li + li
{
	margin-left: 0.5em;
}

ul#tabs li a
{
	border-radius: 4px 4px 0 0;
	display: block;
	color: #09c;
	text-decoration: none;
	padding: 8px 12px;
}

ul#tabs li:not(.active) a:hover
{
	background: #ddd;
	border-bottom: 1px solid #ddd;
}

ul#tabs li.disabled a
{
	color: #888;
	cursor: help;
}

ul#tabs li.active a
{
	color: #555;
	border: 1px solid #ddd;
	border-bottom-color: #fff;
	cursor: default;
}

html.darkMode ul#tabs li.active a
{
	color: #ccc;
}

ul#tabs + div
{
	overflow: hidden;
	margin: 0;
	padding: 1.5em 2em;
	border: 1px solid #ddd;
}

ul#tabs li.notify a::after {
    content: " *";
    color: orangered;
}

#tab a#expand,
#tab a#diff,
#tab a#asHtml
{
	float: right;
	cursor: pointer;
	padding: 5px;
}


/*   visibility     normal Mobile No-js No-js@index
 * textarea[name=code]    |   V  |     |    V
 * <code>              V  |      |  V  |
 * <code><textarea>    V  |      |     |
 */

code,
body.mobile textarea,
body.index:not(.js) textarea
{
	border: 0 solid black;
	border-width: 1px 0;
	width: 100%;
	tab-size: 4;
	-moz-tab-size: 4;
	display: block;
	/* for users without js */
	white-space: pre;
	background: #fff;
}

/* these are to reduce the fouc before the editor initializes */
html.darkMode code,
html.darkMode body.mobile textarea,
html.darkMode body.index:not(.js) textarea
{
	background: #222;
	color: #fff;
}

body.js code:not(.ace_editor)
{
	border-left: 53px solid #f7f7f7;
	width: calc(100% - 53px);
}

html.darkMode body.js code:not(.ace_editor)
{
	border-left-color: #141414;
}

/* selector is less specific than above */
textarea[name=code]
{
	display: none;
}

body.mobile textarea,
body.index:not(.js) textarea
{
	overflow: auto;
	resize: vertical;
	height: 250px;
}

body.mobile code,
body.index:not(.js) code
{
	display: none;
}

body.mobile dd,
body.touch dd
{
	max-height: 50em;
}

#prefs input {
	margin-left: 15px;
}

#prefs select {
	margin-left: 15px;
	margin-right: 2px;
	width: auto;
	height: auto;
	padding: 0px 4px;
}

form.submit-attempted textarea.invalid,
form.submit-attempted code.invalid,
form.submit-attempted input.invalid
{
	border-color: red;
}

form .ace_editor
{
	font-size: inherit;
	color: #555;
}

form .ace-chrome .ace_gutter
{
	background-color: #f7f7f7;
	color: #aaa;
}

a i[class^="icon-"]
{
	opacity: 0.3;
}

a:hover i[class^="icon-"],
i[class^="icon-"].active
{
	opacity: 1;
}

dl
{
	margin: 0;
}

dt
{
	font-size: 20px;
	max-width: 45em;
}

dt[id]
{
	cursor: pointer;
}

dt span
{
	cursor: help;
}

dd
{
	margin: 1em 0 1.5em 0;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #ddd;
	max-height: 5.75em;
	overflow: auto;
	font-family: monospace;
	white-space: pre;
	transition: max-height 30s cubic-bezier(1,0,1,0);
}

dt:target + dd
{
	box-shadow: 0 0 30px #ffe958;
}

dt:target:before, dt[id]:not(:only-of-type):hover:before
{
	content: '\00BB\0020';
}

dd:hover,
dt:target + dd,
dd:only-of-type
{
	/* this is a soft-expand */
	max-height: 50em;
	transition: max-height 0.3s ease-in;
}

dl.expand dd
{
	max-height: 100%;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th.sortable
{
	cursor: pointer;
}

table.sorted th[data-sort-order=asc]:after {
	content: " ↓";
}
table.sorted th[data-sort-order=desc]:after {
	content: " ↑";
}

th
{
	text-align: right;
}

th:first-child
{
	min-width: 150px;
	text-align: center;
}

tbody tr:not(.header):nth-child(odd)
{
	background-color:#eee;
}

td:first-child
{
	white-space: nowrap;
	overflow: hidden;
	max-width: 150px;
	text-overflow: ellipsis;
}

td:not(:first-child)
{
	text-align: right;
}

td
{
	padding: 4px;
	border-top: 1px solid #ddd;
}

input[type=submit]
{
	border: 1px solid #CCC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 9px 14px;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 10em;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

#newForm input[type=submit]
{
	margin-left: 0;
}

input[type=submit]:not([disabled])
{
	background: linear-gradient(180deg, #08C, #05C) #0074CC repeat-x;
	color: white;
	cursor: pointer;
}

button
{
	cursor: pointer;
	/* for chrome */
	color: #333;
	padding: 4px 16px;
}

select:disabled
{
	background-color: #ccc;
}

input:disabled + label
{
	color: #ccc;
}

select#version:empty
{
	display: none;
}

select#version
{
	width: 175px;
	height: 25px;
	margin-left: 50px;
}

input.busy
{
	cursor: progress;
}

#tabs.busy li.active a
{
	background: url(/s/loading.gif) right 10px center no-repeat;
	padding-right: 35px;
}

.alert
{
	position: fixed;
	right: 20px;
	top: 45px;
	padding: 20px;
	background: #f7f7f7;
	box-shadow: 0 0 30px #0074CC;
	border-radius: 0.5em;
	z-index: 3;
}

.alert h2
{
	margin: 0;
}

.alert.error
{
	background: #c66;
	box-shadow: 0 0 30px red;
}

div.column
{
	padding: 0 1em;
	width: 50%;
	box-sizing: border-box;
	float: left;
}

small
{
	color: #999;
}

header
{
	background-color: #222;
	color: white;
	margin-bottom: 20px;
	/* fixed navbar */
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 7;
}

header h1
{
	float: left;
	width: 86px;
	height: 45px;
	overflow: hidden;
	color: transparent;
	margin: 0;
	box-shadow: 3px 0 3px -3px #000;

	background: url(/s/logo.png) no-repeat center;
	transition: background-color 250ms ease-in;
}

header h1:hover
{
	background-image: url(/s/logo-hover.png);
	background-color: #70FF66;
}

header span
{
	float: left;
	padding: 1em 1.5em;
	color: #999;
}

header ul
{
	padding: 1em 1em 1em 0;
	list-style: none;
	float: right;
	margin: 0;
}

header li
{
	float: left;
	padding: 0 10px;
	border-left: 1px solid #888;
}

header li:first-child
{
	border-left: none;
}

header li:last-child
{
	padding-right: 0;
}

header a
{
	color: #fff;
}

ins
{
	background-color: #adff2f;
}

del
{
	background-color: #ff4500;
}

header ul a.highlight
{
	color: #f00;
}

/* page specific styles */
body:not(.script) input#title
{
	width: 98.6%;
}

body.embedded input#title
{
	display: none;
}

body.index time
{
	font-style: italic;
}

body.script dt i.icon-ok /* assertions */
{
	margin-left: 0.5em;
}

body.search svg
{
	font-family: Impact;
}

body.bughunt select[multiple]
{
	height: 100px;
}

body.bughunt form p
{
	max-width: 450px;
}

body.output dt a
{
	float: right;
}

body.output dd iframe /* Rebecca */
{
	width: 925px;
	height: 450px;
}

body.perf table i
{
	/* icon-plus */
	background-position: -408px -96px;
	margin-right: 5px;
}

body.perf tr.open i
{
	/* icon-min */
	background-position: -433px -96px;
}

body.perf th:first-child,
body.perf td:first-child
{
	width: 100px;
}

body.perf tr.header
{
	cursor: pointer;
}

body.perf meter
{
	float: right;
	margin-left: 10px;
}

body.perf tr[data-unsuccessful]
{
	color: #888;
}

body.perf tr:not(.header).open
{
	display: table-row !important;
}

body.perf tr.header:not(.open) ~ tr:not(.header)
{
	display: none;
}

body.perf tr:not(.header) td:first-child
{
	padding-left: 23px;
}

body.about pre
{
	background-color: #ddd;
	overflow: auto;
	padding: 0.5em;
}

html.darkMode body.about pre
{
	color: #000;
}

body.last td:last-child
{
	text-overflow: ellipsis;
	text-align: left;
}

body.stats .axis path,
body.stats .axis line
{
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

body.stats .x.axis path
{
	display: none;
}

body.stats .line
{
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

body.stats .bar
{
	fill: #666;
	font-family: Helvetica, sans-serif;
}

body.stats .bar text
{
	color: black;
}

body.sponsor li.active
{
	background-color: #cbffba;
}

html.darkMode body.sponsor li.active
{
	background-color: #1d4612;
}

body.sponsor li.expired
{
	opacity: 0.65;
}

body.sponsor li[data-age='3'] { font-size: 12px; }
body.sponsor li[data-age='4'] { font-size: 11px; }
body.sponsor li[data-age='5'] { font-size: 10px; }
body.sponsor li[data-age='6'] { font-size: 9px; }
body.sponsor li[data-age='7'] { font-size: 8px; }
body.sponsor li[data-age='8'] { font-size: 7px; }
body.sponsor li[data-age='9'] { font-size: 7px; }
body.sponsor li[data-age='10'] { font-size: 7px; }
body.sponsor li[data-age='11'] { font-size: 7px; }


body.sponsor ul
{
	padding-left: 25px;
}

#prefs
{
	float: right;
	margin-top: -2px;
}

#prefs label
{
	cursor: pointer;
}

html.darkMode { background-color: #1c1c1c; }
html.darkMode header { background-color: #111; }
html.darkMode body { color: #ccc; }
html.darkMode tbody tr:not(.header):nth-child(2n+1) { background-color: #000; }
html.darkMode a { color: #09c; }
html.darkMode a:visited, a:hover { color: #bbb; }
html.darkMode form { background: #222; }
/* special: to get a nice loading.gif - we invert, but that means all colors here are inverted as well */
html.darkMode ul#tabs li.active a { filter: invert(100%); background-color: #e3e3e3; color: #323232; border-color: #212121; border-bottom: #ddd; }
html.darkMode dd { background: #222; }
html.darkMode input[type="text"], select { background: #222; color: #ccc; }
html.darkMode [class^="icon-"], html.darkMode [class*=" icon-"] { filter: invert(1); }

/* mobile specific */
@media (max-width: 600px)
{
	ul#tabs li.disabled{			display: none; }
	ul#tabs li a{					padding: 5px; }
	header span{					display: none; }
	header ul{						padding-right: 5px; padding: 0.5em; }
	header h1{						height: 30px; }
	header{							margin-bottom: 0; }
	body.index .column li{			margin-bottom: 1em; }
	body.last tr :nth-of-type(4){ 	display: none; }
	body{							margin-top: 0; padding-top: 2.5em; }
	fieldset.log{					display: none; }
	body.search #tagCloud{			display: none; }
	form p{							margin-left: 0; }
	input[type="submit"]{			margin-left: 0; }
}

@media (max-width: 800px)
{
	/* keep menu on single line, remove bughunt & search; prevent LI from taking up space */
	nav li:nth-of-type(3),
	nav li:nth-of-type(4){	display: none; }
}

@media (max-width: 1000px)
{
	input#title { width: 96% !important; }
	form { padding: 0.5em; }
	ul#tabs + div { padding: 0.5em; }
}