body
{
	max-width: 1022px;
	margin: 1em auto;
	font-family: Arial, sans-serif;
	color: #333;
	font-size: 13px;
	/* fixed navbar */
	padding-top: 4em;
}

form
{
	padding: 2em;
	background: #f7f7f7;
	margin-bottom: 1em;
	box-shadow: inset 1px 1px 1px rgba(0,0,0, 0.1);
}

form h2
{
	margin-top: 0;
}

input#title
{
	font-size: 20px;
	width: 770px;
}

form > a
{
	float: right;
	margin-left: 1em;
}

form, dd
{
	border-radius: 0.5em;
}

form label
{
	font-weight: bold;
	margin: 0 10px;
	display: inline-block;
	width: 10em;
}

label[for=archived_1]
{
	width: auto;
}

form > div:not(:first-child)
{
	margin: 0.5em 0 1.5em 0;
}

form p
{
	margin-left: 12em;
}

input[type=text],
select
{
	width: 450px;
	height: 34px;
	padding: 0 6px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
	/* for osx */
	font-size: 13px;
}

textarea:focus,
input:focus,
select:focus
{
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	outline: 0 none;
}

/* offset to compensate for overlaying menu */
a#output {
	display: block;
	position: relative;
	top: -110px;
	visibility: hidden;
}

ul#tabs
{
	margin-bottom: -1px;
	padding-left: 0;
	clear: both;
	overflow: hidden;
}

ul#tabs li
{
	float: left;
	list-style: none;
}

ul#tabs li + li
{
	margin-left: 0.5em;
}

ul#tabs li a
{
	border-radius: 4px 4px 0 0;
	display: block;
	color: #0088cc;
	text-decoration: none;
	padding: 8px 12px;
}

ul#tabs li:not(.active) a:hover
{
	background: #ddd;
	border-bottom: 1px solid #ddd;
}

ul#tabs li.disabled a
{
	color: #888;
	cursor: help;
}

ul#tabs li.active a
{
	color: #555;
	border: 1px solid #ddd;
	border-bottom-color: #fff;
	cursor: default;
}

ul#tabs + div
{
	overflow: hidden;
	margin: 0;
	padding: 1.5em 2em;
	border: 1px solid #ddd;
}

#tab a#expand
{
	float: right;
	cursor: pointer;
	padding: 5px;
}

code,
textarea
{
	border: 0 solid black;
	border-width: 1px 0;
	width: 100%;
	tab-size: 4;
	display: block;
	/* for users without js */
	white-space: pre;
	background: #fff;
}

/* for touch-devices */
body.touch textarea
{
	overflow: auto;
	font-family: monospace;
	font-size: 13px;
	resize: vertical;
}

body.touch dd
{
	max-height: 50em;
}

/* minimize fouc impact */
body:not(.js) textarea,
body.touch textarea
{
	height: 250px;
}

/* for non-js users, hide border from empty code-block */
body.index textarea + code:empty
{
	display: none;
}

#options:not(:empty)
{
	float: right;
	padding: 0.5em 1em 0.5em;
	margin: 0;
	margin-top: -1.5em;
	border-radius: 0 0 4px 4px;
	border: 1px solid #ddd;
}

#options input[type=checkbox] + label
{
	position: relative;
	top: -4px;
	margin: 0;
}

#options div
{
	float: left;
}

#options div:not(:first-child)
{
	margin-left: 10px;
	padding-top: 0.15em;
}

#options i.icon-share-alt
{
	transform: scaleY(-1);
}

form.submit-attempted textarea.invalid,
form.submit-attempted code.invalid,
form.submit-attempted input.invalid
{
	border-color: red;
}

form .ace_editor
{
	font-size: inherit;
	color: #555;
}

form .ace-chrome .ace_gutter
{
	background-color: #f7f7f7;
	color: #aaa;
}

a.inactive [class^="icon-"]
{
	opacity: 0.3;
}

a.inactive:hover [class^="icon-"]
{
	opacity: 1;
}

dl
{
	margin: 0;
}

dt
{
	font-size: 20px;
	max-width: 45em;
}

dt[id]
{
	cursor: pointer;
}

dt span
{
	cursor: help;
}

dd
{
	margin: 1em 0 1.5em 0;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #ddd;
	max-height: 3.75em;
	overflow: auto;
	font-family: monospace;
	white-space: pre;
	transition: max-height 0.3s ease-out;
}

dt:target + dd
{
	box-shadow: 0 0 30px #ffe958;
}

dt:target:before
{
	content: '\00BB\0020';
}

dd:hover,
dt:target + dd,
dd:only-of-type
{
	/* this is a soft-expand */
	max-height: 50em;
	transition: max-height 0.3s ease-in;
}

dl.expand dd
{
	max-height: 100%;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th
{
	text-align: right;
}

th:first-child
{
	min-width: 150px;
	text-align: center;
}

tbody tr:not(.header):nth-child(odd)
{
	background-color:#eee;
}

td:first-child
{
	white-space: nowrap;
	overflow: hidden;
	max-width: 150px;
	text-overflow: ellipsis;
}

td:not(:first-child)
{
	text-align: right;
}

td
{
	padding: 4px;
	border-top: 1px solid #ddd;
}

input[type=submit]
{
	border: 1px solid #CCC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: 9px 14px;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 10em;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type=submit]:not([disabled])
{
	background: linear-gradient(180deg, #08C, #05C) #0074CC repeat-x;
	color: white;
	cursor: pointer;
}

button
{
	cursor: pointer;
	/* for chrome */
	color: #333;
	padding: 4px 16px;
}

select:disabled
{
	background-color: #ccc;
}

input:disabled + label
{
	color: #ccc;
}

input:disabled + #previewForm
{
	display: none;
}

#previewForm
{
	background-color: #ccc;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 0.5em 0 0.5em;
	display: inline;
	width: 200px;
	margin-left: 20px;
}

select#version
{
	width: 100px;
	height: 25px;
}

input.busy
{
	cursor: progress;
}

#tabs.busy li.active a
{
	background: url(/s/loading.gif) right 10px center no-repeat;
	padding-right: 35px;
}

.alert
{
	position: absolute;
	right: 20px;
	top: 45px;
	padding: 20px;
	background: #f7f7f7;
	box-shadow: 0 0 30px #0074CC;
	border-radius: 0.5em;
}

.alert h2
{
	margin: 0;
}

.alert.error
{
	background: #c66;
	box-shadow: 0 0 30px red;
}

div.column
{
	padding: 0 2em;
	width: 50%;
	box-sizing: border-box;
	float: left;
}

#uvTab
{
	border: 1px solid rgb(255, 255, 255);
	border-right-width: 0;
	border-radius: 4px 0 0 4px;
	box-shadow: rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0 1px 2px;
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 9999;
	margin-top: -86px;
	background: #cc6d00 url(/ext/uvBg.png) 50% 0 no-repeat;
}

#uvTab a
{
	display: block;
	padding: 39px 5px 10px 5px;
}

small
{
	color: #999;
}

header
{
	background-color: #222;
	color: white;
	margin-bottom: 20px;
	/* fixed navbar */
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 7;
}

header h1
{
	float: left;
	width: 86px;
	height: 45px;
	overflow: hidden;
	color: transparent;
	margin: 0;

	background: url(/s/logo.png) no-repeat center;
	transition: background-color 250ms ease-in;
}

header h1:hover
{
	background-image: url(/s/logo-hover.png);
	background-color: #70FF66;
}

header span
{
	float: left;
	padding: 1em 1.5em;
	color: #999;
}

header ul
{
	padding: 1em 1.5em;
	list-style: none;
	float: right;
	margin: 0;
}

header li
{
	float: left;
	padding: 0 10px;
	border-left: 1px solid #888;
}

header li:first-child
{
	border-left: none;
}

header li:last-child
{
	padding-right: 0;
}

header a
{
	color: #fff;
}

input + time
{
	color: #999;
	font-size: 10px;
}

/* page specific styles */
body.index input#title,
body.new input#title
{
	width: 98.6%;
}

body.index time
{
	font-style: italic;
}

body.index input[type=submit],
body.script input[type=submit]
{
	margin-left: 0;
}

body.search input.noOperand
{
	opacity: 0.3;
}

body.bughunt select
{
	height: 100px;
}

body.bughunt form p
{
	max-width: 450px;
}

body.output dt a
{
	float: right;
}

body.perf table i
{
	/* icon-plus */
	background-position: -408px -96px;
	margin-right: 5px;
}

body.perf tr.open i
{
	/* icon-min */
	background-position: -433px -96px;
}

body.perf th:first-child,
body.perf td:first-child
{
	width: 100px;
}

body.perf tr.header
{
	cursor: pointer;
}

body.perf meter
{
	float: right;
	margin-left: 10px;
}

body.perf tr[data-unsuccessful]
{
	color: #888;
}

body.perf tr:not(.header).open
{
	display: table-row !important;
}

body.perf tr.header:not(.open) ~ tr:not(.header)
{
	display: none;
}

body.perf tr:not(.header) td:first-child
{
	padding-left: 23px;
}

body.about pre
{
	background-color: #ddd;
	overflow: auto;
	padding: 0.5em;
}

body.last td:last-child
{
	text-overflow: ellipsis;
	text-align: left;
}

/* mobile specific */
@media (max-width: 600px)
{
	#options:not(:empty){	margin-top: 0; }
	#previewForm{			display: none; }
	#uvTab{					display: none; }
	header span{			display: none; }
	body.index .column li{	margin-bottom: 1em; }
}

@media (max-width: 1000px)
{
	input#title { width: 96%; }
	form { padding: 0.5em; }
	ul#tabs + div { padding: 0.5em; }
}