body
{
	max-width: 1250px;
	margin:  2em auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 13px;
}

form
{
	padding: 2em;
	background: #f7f7f7;
	margin-bottom: 1em;
	box-shadow: inset 1px 1px 1px rgba(0,0,0, 0.1);
}

form > a
{
	float: right;
	margin-left: 1em;
}

form, dd
{
	border-radius: 0.5em;
}

body.search label
{
	font-weight: bold;
	margin: 0 10px;
}

body.search input[type=text], select
{
	height: 34px;
	padding: 0 6px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	vertical-align: middle;
}

body.search option
{
	text-align: right;
}

body.search input[type=submit]
{
	display: block;
}

textarea:focus, input:focus, select:focus
{
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

ul#tabs
{
	margin-bottom: -1px;
	padding-left: 0;
	clear: both;
	overflow: hidden;
}

ul#tabs li
{
	float: left;
	list-style: none;
}

ul#tabs li + li
{
	margin-left: 0.5em;
}

ul#tabs li a
{
	border-radius: 4px 4px 0 0;
	display: block;
	color: #0088cc;
	text-decoration: none;
	padding: 8px 12px;
}

ul#tabs li:not(.active) a:hover
{
	background: #ddd;
	border-bottom: 1px solid #ddd;
}

ul#tabs li.disabled a
{
	color: #888;
	cursor: help;
}

ul#tabs li.active
{
	border-bottom-color: white;
}

ul#tabs li.active a
{
	color: #555;
	border: 1px solid #ddd;
	border-bottom-color: white;
	cursor: default;
}

ul + div
{
	overflow: hidden;
	margin: 0;
	padding: 1.5em 2em;
	border: 1px solid #ddd;
}

h1:not(:only-child)
{
	cursor: pointer;
	margin-top: 0;
}

h1 small
{
	color: #999;
}

code, textarea
{
	border: 0 solid black;
	border-width: 1px 0;
	width: 100%;
	tab-size: 4;
	display: block;
	/* for users without js */
	white-space: pre;
	background: white;
}

/* for touch-devices */
textarea
{
	height: 150px;
	overflow: auto;
}

/* code after js has run */
textarea + code {
	white-space: normal;
	background: none;
}

textarea.invalid,
code.invalid
{
	border-color: red;
}

form .ace_editor
{
	font-size: inherit;
	color: #555;
}

form .ace-chrome .ace_gutter
{
	background-color: #f7f7f7;
	color: #aaa;
}

a.inactive [class^="icon-"]
{
	opacity: 0.3;
}

a.inactive:hover [class^="icon-"]
{
	opacity: 1;
}

dl
{
	margin: 0;
}

dt
{
	font-size: 20px;
	cursor: pointer;
}

dt a
{
	float: right;
}

dd
{
	margin: 1em 0 1.5em 0;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #ddd;
	max-height: 3.75em;
	overflow: auto;
	font-family: monospace;
	white-space: pre;
	transition: max-height 0.3s ease-out;
}

dt:target + dd
{
	box-shadow: 0 0 30px #ffe958;
}

dt:target:before
{
	content: '\00BB\0020';
}

dd:hover, dt:target + dd, dd:only-of-type
{
	max-height: 50em;
	transition: max-height 0.3s ease-in;
}

table
{
	width: 75%;
	border-collapse: collapse;
	border-spacing: 0;
}

table tbody tr:not(.header):nth-child(odd)
{
	background-color:#eee;
}

table td:not(:first-child)
{
	text-align: right;
}

table td
{
	padding: 4px;
	border-top: 1px solid #ddd;
}

body.perf table i
{
	/* icon-plus */
	background-position: -408px -96px;
	margin-right: 5px;
}

body.perf table tr.open i
{
	/* icon-min */
	background-position: -433px -96px;
}

body.perf table th:first-child,
body.perf table td:first-child
{
	width: 100px;
}

body.perf table tr
{
	cursor: pointer;
}

body.perf table td
{
	padding-right: 60px;
}

body.perf table td:first-child
{
	padding-right: 30px;
}

body.perf meter
{
	float: right;
}

body.perf table th
{
	text-align: left;
}

body.perf tr[data-unsuccessful]
{
	color: gray;
}

/*
body.perf tr.header.open ~ tr:not(.header){			display: table-row;	}
body.perf tr.header:not(.open) ~ tr:not(.header){	display: none;		}
*/

body.perf tr:not(.header).open
{
	display: table-row !important;
}

body.perf tr.header:not(.open) ~ tr:not(.header)
{
	display: none;
}

body.perf tr:not(.header) td:first-child
{
	padding-left: 20px;
}

input[type=submit]
{
	background: linear-gradient(180deg, #08C, #05C);
	background-color: #0074CC;
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	color: white;
	padding: 9px 14px;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 0;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	cursor: pointer;
	margin-top: 1em;
}

input.busy
{
	cursor: progress;
}

#tabs.busy li.active a
{
	background-image: url(/s/loading.gif);
	background-repeat: no-repeat;
	background-position: right 10px center;
	padding-right: 35px;
}

.alert
{
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 20px;
	background: #f7f7f7;
	box-shadow: 0 0 30px #0074CC;
	border-radius: 0.5em;
}

.alert h2
{
	margin: 0;
}

.alert.error
{
	background: #c66;
	box-shadow: 0 0 30px red;
}

div.col
{
	padding: 0 2em;
	width: 50%;
	box-sizing: border-box;
	float: left;
}

#uvTab
{
	border: 1px solid rgb(255, 255, 255);
	border-right-width: 0;
	border-radius: 4px 0px 0px 4px;
	box-shadow: rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px;
	position: fixed;
	right: 0px;
	top: 50%;
	z-index: 9999;
	margin-top: -86px;
	background: url(/ext/uvBg.png) 50% 0px no-repeat rgb(204, 109, 0);
}

#uvTab a
{
	display: block;
	padding: 39px 5px 10px 5px;
}