textarea, .CodeMirror
{
	overflow-x: auto;
	border: 0 solid black;
	border-width: 1px 0;
	width: 100%;
}

.CodeMirror
{
	background: #fff;
	clear: both;
}

.CodeMirror-scroll
{
	height: auto;
	overflow-y: hidden;
	overflow-x: auto;
	width: 100%;
}

body
{
	max-width: 1250px;
	margin:  2em auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 13px;
}

form
{
	padding: 2em;
	background: #f5f5f5;
	margin-bottom: 1em;
	box-shadow: inset 1px 1px 1px rgba(0,0,0, 0.1);
}

form a
{
	float: right;
}

form, dd
{
	border-radius: 0.5em;
}

ul#tabs
{
	margin-bottom: -1px;
	padding-left: 0;
	clear: both;
	overflow: hidden;
}

ul#tabs li
{
	float: left;
	list-style: none;
}

ul#tabs li + li
{
	margin-left: 0.5em;
}

ul#tabs li a
{
	border-radius: 4px 4px 0 0;
	display: block;
	color: #0088cc;
	text-decoration: none;
	padding: 8px 12px;
}

ul#tabs li:not(.active) a:hover
{
	background: #ddd;
	border-bottom: 1px solid #ddd;
}

ul#tabs li.disabled a
{
	color: #888;
	cursor: help;
}

ul#tabs li.active
{
	border-bottom-color: white;
}

ul#tabs li.active a
{
	color: #555;
	border: 1px solid #ddd;
	border-bottom-color: white;
	cursor: default;
}

ul + div
{
	overflow: hidden;
	margin: 0;
	padding: 1.5em 2em;
	border: 1px solid #ddd;
}

h1:not(:only-child)
{
	cursor: pointer;
	margin-top: 0;
}

small
{
	color: #999;
}

dl
{
	margin: 0;
}

dt
{
	font-size: 20px;
	cursor: pointer;
}

dd
{
	margin: 1em 0 1.5em 0;
	padding: 1em;
	background: #f9f9f9;
	border: 1px solid #ddd;
	max-height: 3.75em;
	overflow: auto;
	font-family: monospace;
	white-space: pre;
	-webkit-transition: max-height 0.3s ease-out;
}

dt:target + dd
{
	box-shadow: 0 0 30px #ffe958;
}

dt:target:before
{
	content: '\00BB\0020';
}

dd:hover, dt:target + dd, dd:only-of-type
{
	max-height: 50em;
	-webkit-transition: max-height 0.3s ease-in;
}

.perf #chart
{
	width: 800px;
	height: 450px
}

.perf .hhvm
{
	float: right;
}

.perf #data table
{
	width: 600px !important;
}

.rel td>div
{
	width: 375px;
	height: 200px;
}

table
{
	width: 800px;
	border-collapse: collapse;
	border-spacing: 0;
}

table td
{
	text-align: right;
	padding: 4px;
	border-top: 1px solid #ddd;
}

input
{
	background-color: #0074CC;
	background-image: -webkit-linear-gradient(top, #08C, #05C);
	background-image: -moz-linear-gradient(top, #08C, #05C);
	background-image: linear-gradient(top, #08C, #05C);
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	color: white;
	padding: 9px 14px;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 0;
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	cursor: pointer;
	margin-top: 1em;
}

input.busy
{
	cursor: progress;
	background-image: url(/s/load.gif), linear-gradient(top, #08C, #05C);
	background-image: url(/s/load.gif), -webkit-linear-gradient(top, #08C, #05C);
	background-image: url(/s/load.gif), -moz-linear-gradient(top, #08C, #05C);
	background-repeat: no-repeat, repeat-x;
	background-position: 62px center, left top;
	padding: 9px 25px 9px 14px;
}

body > a
{
	position: fixed;
	bottom: 0;
	left: 1px;
	font-size: 12px;
	background: white;
}

.alert {
	position: absolute;
	right: 20px;
	top: 20px;
	padding: 20px;
	background: #f5f5f5;
	box-shadow: 0 0 30px #0074CC;
	border-radius: 0.5em;
}

.alert h2 {
	margin: 0;
}

.alert.error {
	background: #c66;
	box-shadow: 0 0 30px red;
}

div.col {
	padding: 0 2em;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
