.sh_php
{
	border: 1px solid #ddd;
	margin: 10px;
	color: #333;
	counter-reset: lineno;
}
.sh_php .sh_comment { color: #a50; }
.sh_php .sh_keyword { color: #708; }
.sh_php .sh_variable { color: #05a; }
.sh_php .sh_string { color: #a11; }

code
{
	background: #f7f7f7;
	white-space: pre;
	display: block;
}

.line
{
	counter-increment: lineno;
	display: block;
	margin-left: 2.5em;
	clear: both;
	border-left: 1px solid gray;
	padding-left: 0.5em;
	background: white;
}

.line::before
{
	color: #aaa;
	content: counter(lineno);
	padding-right: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	display: block;
	float: left;
	margin-left: -3em;
	text-align: right;
	width: 2em;
}
